@model CatalogViewModel
@{
    ViewData["Title"] = "Shop";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("Partial/_LeftSideBar")
            </div>

            <div class="col-sm-9">
                @await Html.PartialAsync("Partial/_FeaturedItems", Model.Products)
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script></script>
}

@section Styles {
    <style></style>
}

