@{
    Layout = "_LayoutBase";
}

<div class="wrapper ">
    @await Html.PartialAsync("Partial/_AdminLeftSideBar")
    <div class="main-panel">
        @await Html.PartialAsync("Partial/_AdminNavBar", null, ViewData)
        @RenderBody()
        @await Html.PartialAsync("Partial/_AdminFooter")
    </div>
</div>
