@model Employee
@{
    ViewData["Title"] = "Edit";
    ViewData["Title"] = $"Employee edit id: { (Model.Id == 0 ? (int?) null : Model.Id)}";
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-area="" asp-controller="Employees" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" hidden />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <span asp-validation-for="Surname" class="text-danger"></span>
                <input asp-for="Surname" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <span asp-validation-for="Patronymic" class="text-danger"></span>
                <input asp-for="Patronymic" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <span asp-validation-for="Age" class="text-danger"></span>
                <input asp-for="Age" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" class="form-control" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Employees" asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}