@using WebStore.Controllers
@{
    Layout = "_LayoutBase";

    string controller = ViewContext.RouteData.Values["Controller"].ToString();
    string action = ViewContext.RouteData.Values["Action"].ToString();
}

@await Html.PartialAsync("Partial/_Header")

@if (controller == "Home" && action == "Index")
{
    @await Html.PartialAsync("Partial/_Slider")
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("Partial/_LeftSideBar")
            </div>

            <div class="col-sm-9 padding-right">
                @RenderBody()
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("Partial/_Footer")