@{
    Layout = "_LayoutBase";

    string controller = ViewContext.RouteData.Values["Controller"].ToString();
    string action = ViewContext.RouteData.Values["Action"].ToString();
}

@await Html.PartialAsync("Partial/_Header")


@if (controller == "Home" && action == "Index" || controller == "Catalog" && action == "Shop")
{
    @RenderBody()
}
else
{
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>
}

@await Html.PartialAsync("Partial/_Footer")

@section Styles {
    @RenderSection("Styles", false)
}

@section Scripts {
    @RenderSection("Scripts", false)
}