
@{
    ViewData["Title"] = "UserInfoView";
}

<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-user"></i> @User.Identity.Name</a></li>
        
        @{
            if (User.IsInRole("Administrator"))
            {
                <li><a asp-area="Admin" asp-controller="Home" asp-action="ProductList"><i class="fa fa-key"></i> Admin panel</a></li>
            }
        }

        <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="CheckOut"><i class="fa fa-crosshairs"></i> Checkout</a></li>
        <li><a asp-area="" asp-controller="Cart" asp-action="Details"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="LogOut"><i class="fa fa-lock"></i> LogOut</a></li>
    </ul>
</div>


